body {
  background-color: #ADD8E6; 
font-family: arial, sans-serif; 
color: #000033;
}

.kartu-profil {
  width: 300px;
  margin: 50px auto; 
pandding: 20px;
  background-color: lightblue;
  border-radius: 15px
box-shadow: 0 4px 8px rgba(2,0,0,8); 
  text-align: center 
}

.kartu-profil img {
  width: 150px;
  border-radius: 50%; 
}
