body {
  background-color: #ADD8E6; 
font-family: Lucida, cursive; 
color: #000033;
}

.kartu-profil {
  width: 300px;
  margin: 50px auto; 
pandding: 20px;
  background-color: lightblue;
  border-radius: 15px
box-shadow: 10px 10px 5px blue; 
  text-align: center 
}

.kartu-profil img {
  width: 150px;
  border-radius: 50%; 
}
